body {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(197,205,205,1) 74%, rgba(149,165,166,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(74%, rgba(197,205,205,1)), color-stop(100%, rgba(149,165,166,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(197,205,205,1) 74%, rgba(149,165,166,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(197,205,205,1) 74%, rgba(149,165,166,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(197,205,205,1) 74%, rgba(149,165,166,1) 100%);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(197,205,205,1) 74%, rgba(149,165,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#95a5a6', GradientType=1 );
 /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;*/

  font-size: 14px;
  font-family: 'Raleway Dots';
  color:#34495e;
}
#welcome{
  opacity: 0.35;
}
#board{
   border-style: solid;
  border-color: black;
  width: 900px;
  height:900px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  min-height: 100%;
  opacity: 100%;
}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}




ul#grid {
  list-style: none;
  margin: 20px auto 0;
  width: 750px;  
  }

#grid li {
  float: left;
  margin: 0 5px 10px 5px;
  } 

.portfolio {
  padding: 20px;
  margin-left: auto; margin-right: auto;  margin-top:50px;
  width: 713px;
  /*these two properties will be inherited by .portfolio h4 and .portfolio p */
  font-family: 'GraublauWeb', arial, serif; 
  text-align: center;
  }
  
.portfolio h4 {
  clear: both;
  font-size: 35px;
  font-weight: normal;
  color: #58595b;
  width: 750px;
  }
  
.portfolio p {
  font-size: 15px;
  color: #58595b;
  width: 750px;
  }

#grid li a:hover img {
  opacity:0.3;  filter:alpha(opacity=30);
  }

#grid li img {
  background-color: white;
  padding: 7px; margin: 0;
  border: 1px dotted #58595b;
  width: 150px;
  height: 160px;
  }

#grid li:first-child img {
  width: 192px;
  height: 325px;
}

#grid li:last-child img {
  width: 353px;
  height: 160px;
}
  
#grid li a {
  display: block;
  }    

 #boardBox{
  opacity: 1.0;
}







@media (max-width: 600px) {
  

  .search {
    width: 300px;
    clear: both;
  }


}
